/* the main div for everything in the body */
.code-text-body{
    height: 95vh;
    width: 95%;
    padding-top:2rem;
    margin-left:1rem;
}

/* set a restriction for the image text so that it doesnt overflow */
.txt-img{
	max-width: 50rem;
}

/* style for comment text in body */
.code-text-comment{
    display:inline-block;
    font-family: 'Cascadia Code', sans-serif;
    font-size:13px;
    color:rgb(106,153,85);
    user-select: none;
}

/* style for headers */
.code-text{
    font-family: 'Cascadia Code', sans-serif;
    color:rgb(204,204,204);
    user-select: none;
}

/* style display for all images in the grid */
.grid-img{
  height:auto;
  display:grid;
  position:relative;
}

/* set display for all txt related to the image */
.img-text{
	width:auto;
	height:30rem;
  padding-top:10rem;
}

/* style display for primary grid (index) */
.grid-primary{
	grid-template-columns: 30rem 20rem;
	column-gap:5rem;
  	padding-left:22.5rem;
	padding-top:2rem;
	padding-bottom:2rem;
	width:75%;
}

/* style display for secondary grid (all other pages) */
.grid-secondary{
	width:100rem;
	padding-left:2.5rem;
	padding-top:8rem;
	grid-template-columns: 50rem 40rem;
	row-gap:1rem;
	column-gap:1rem;
}

/* style display for secondary text (all other pages than index) */
.txt-secondary{
	padding-top:0;
	width:30vw;
	height:30rem;
}

/* set specific size for the cat image as its used differently than the secondary images */
.cat{
	width:30rem;
}

/* give the image color on click */
.grid-img:active img{
    filter: grayscale(0%) sepia(0%) hue-rotate(0deg) 
}

.table-web-page{
	margin-left:12.5rem;
	margin-top:5rem;
	margin-bottom:20rem;
}

/* change the size of the interface to respond to browser width */
@media (max-width: 650px) {
	/* change size of the primary (index home page) interface */
	.txt-primary{
		height:17.5rem;
		padding-top:0; 
		padding-bottom:1rem;
	}
	.img-primary{
    width: 10rem;
    }
	.grid-primary{
		grid-template-columns: 15rem;
		column-gap:0;
		padding-left:1rem;
		row-gap:1rem;
	}
	.code-text-body{
    width: 65%;
	}

	/* change the size of the secondary (all other pages) interfaces */
	.txt-secondary{
		padding-top:1rem;
		width:40vw;
		height:80rem;
	}
	.img-secondary{
		padding-left:0rem;
    	width: 12.5rem;
    }
	.grid-secondary{
		width:100rem;
		padding-left:10vw;
		padding-top:5rem;
		grid-template-columns: 30rem;
		row-gap:1rem;
		column-gap:1rem;
	}
	.table-web-page{
		margin-left:1rem;
	}
}

/* change the size of the interface to respond to browser width */
@media (min-width: 651px) and (max-width: 925px) {
	/* change size of the primary (index home page) interface */
	.txt-primary{
		height:10rem;
		padding-top:1rem; 
		padding-bottom:1rem;
	}
	.img-primary{
    width: 20rem;
  }
	.grid-primary{
		grid-template-columns: 25rem;
		column-gap:0;
		padding-left:2.5rem;
	}
	.code-text-body{
    width: 80%;
	}

	/* change the size of the secondary (all other pages) interfaces */
	.txt-secondary{
		padding-top:1rem;
		width:40vw;
		height:52.5rem;
	}
	.img-secondary{
		padding-left:0rem;
    	width: 20rem;
    }
	.grid-secondary{
		width:100rem;
		padding-left:10vw;
		padding-top:5rem;
		grid-template-columns: 30rem;
		row-gap:1rem;
		column-gap:1rem;
	}
	.table-web-page{
		margin-left:1rem;
	}
}

/* change the size of the interface to respond to browser width */
@media (min-width: 926px) and (max-width: 1200px) {
	/* change size of the primary (index home page) interface */
	.txt-primary{
		height:25rem;
		padding-top:5rem; 
	}
	.img-primary{
    width: 20rem;
  }
	.grid-primary{
		grid-template-columns: 25rem 15rem;
		column-gap:1.5rem;
		padding-left:2.5rem;
	}
	.code-text-body{
    width: 85%;
	}

	/* change the size of the secondary (all other pages) interfaces */
	.txt-secondary{
		padding-top:1rem;
		width:60vw;
		height:30rem;
	}
	.img-secondary{
		padding-left:8.5rem;
    	width: 20rem;
    }
	.grid-secondary{
		width:100rem;
		padding-left:10vw;
		padding-top:5rem;
		grid-template-columns: 30rem;
		row-gap:1rem;
		column-gap:1rem;
	}
	.table-web-page{
		margin-left:6rem;
	}
}

/* change the size of the interface to respond to browser width */
@media (min-width: 1201px) and (max-width: 1500px) {
	/* change size of the primary (index home page) interface */
	.txt-primary{
		height:25rem;
		padding-top:5rem; 
	}
	.img-primary{
    width: 20rem;
  }
	.grid-primary{
		grid-template-columns: 25rem 15rem;
		column-gap:1.5rem;
		padding-left:15rem;
	}
	.code-text-body{
    width: 90%;
	}

	/* change the size of the secondary (all other pages) interfaces */
	.txt-secondary{
		padding-top:1rem;
		width:80vw;
		height:22.5rem;
	}
	.img-secondary{
		padding-left:10rem;
    	width: 30rem;
    }
	.grid-secondary{
		width:100rem;
		padding-left:10vw;
		padding-top:5rem;
		grid-template-columns: 30rem;
		row-gap:1rem;
		column-gap:1rem;
	}
}

