.code-text-body{
    width:100rem;
    height:200rem;
    padding-top:2rem;
    margin-left:1rem;
    /* background:rgb(0,0,255) */
}

.code-text-comment{
    display:inline-block;
    font-family: 'Cascadia Code', sans-serif;
    font-size:13px;
    color:rgb(106,153,85);
    user-select: none;
}

.code-text{
    font-family: 'Cascadia Code', sans-serif;
    /* color:rgb(206,145,120); */
    color:rgb(204,204,204);
    user-select: none;
}

.grid-img{
	width:100rem;
  position:absoulute;
  display:grid;
  grid-template-columns: 20rem 75rem;
	column-gap:5rem;
}

.img-text{
	z-index:0;
	width:75rem;
	height:25rem;
	/* background-color:rgb(255,0,0); */
}