.header{
    display: flex;
    flex-direction: row;
    position:fixed;
    z-index: 1;
  
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: rgb(24,24,24);
}


.page-title{
    margin-left:10px;
    font-family: 'Cascadia Code', sans-serif;
    font-size:50px;
    color:rgb(170,170,170);
  }