.sidebar{
    position:fixed;
    z-index: 1;
  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:170px;
    background-color: rgb(24,24,24);
		border-width:1px;
		border-style:solid;
		border-color: rgb(43,43,43);
}

.learn-http-grid{
  background-color: darkblue;
  display:grid;
  grid-template-columns: 10px 100px;
  padding-left:5px;
  padding-right:0px;
  height: 22px;
  width:165px;
  column-gap: 5px;
  row-gap:100px;
}

.learn-http-grid:hover{
  cursor:pointer
}

.special1 .arrow{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.speciala .arrow{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.learn-http{
    display:inline-block;
    font-family: 'Cascadia Code', sans-serif;
    font-size:12px;
    padding-top:4px;
    color:rgb(204,204,204);
    font-weight:bold;
    user-select: none;
}

.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

