.sidebar{
    position:fixed;
    z-index: 1;
  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:170px;
    background-color: rgb(24,24,24);
		border-width:1px;
		border-style:solid;
		border-color: rgb(43,43,43);
}

.learn-http-grid{
  display:grid;
  background-color: solid white;
  border-width:1px;
  border-style:solid;
  border-color: rgb(24,24,24);
  grid-template-columns: 10px 100px;
  padding-left:5px;
  padding-right:0px;
  height: 22px;
  width:163px;
  column-gap: 5px;
  row-gap:100px;
}

.learn-http-grid:hover{
  cursor:pointer
}

.html-grid-row:hover{
  cursor:pointer
}

.special1 .arrow{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.speciala .arrow{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.specialShowFiles .html-grid{
  row-gap: 50px;
}

.specialHideFiles .html-grid{
  row-gap: 2px;
}

.specialb .html-grid-row{
  border-width:1px;
  border-style:solid;
  border-color:rgb(0,120,212);
  background:rgb(4,57,94)
}

.specialShowGray .html-grid-row{
  border-width:1px;
  border-style:solid;
  border-color:rgb(24,24,24);
  background-color: rgb(24,24,24);
}


.learn-http{
    display:inline-block;
    font-weight:bold;
    padding-top:4px;
}

.sidebar-text{
  display:inline-block;
  font-family: 'Cascadia Code', sans-serif;
  font-size:12px;
  color:rgb(204,204,204);
  user-select: none;
}

.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  margin-bottom:1px;
  margin-left:2px;
}

.orange-arrow {
  border: solid rgb(208,72,27);
  background: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  margin-bottom:5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.html-grid{
  border-width:1px;
  /* border-style:solid;
  border-color:rgb(0,120,212);
  background:rgb(4,57,94); */
  display:grid;
  /* grid-template-columns: 10px 10px 100px; */
  height: 120px;
  width:168px;
  column-gap: 5px;
  /* margin-top:-200px; */
}

.html-grid-row{
  display:grid;
  grid-template-columns: 17px 4px 15px 132px; 
  padding-top:3px;
  border-width:1px;
  border-style:solid;
  border-color:rgb(24,24,24);
  background-color: rgb(24,24,24);
}

.html-grid-row:hover{
  border-color:rgb(55,55,61);
  background: rgb(55,55,61)
}

.html-grid-row:focus{
  border-width:1px;
  border-style:solid;
  border-color:rgb(0,120,212);
  background:rgb(4,57,94)
}

.learn-http-grid:focus{
  border-width:1px;
  border-style:solid;
  border-color:rgb(0,120,212);
}

/* .learn-http-grid:focus .html-grid{
  border-style:solid;
  border-color:rgb(255,0,0);
  background:rgb(4,57,94);
} */


.learn-http-grid:active{
  border-width:1px;
  border-style:solid;
  border-color: rgb(24,24,24);
}
