.sidebar{
    position:fixed;
    z-index: 1;
  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:170px;
    background-color: rgb(24,24,24);
		border-width:1px;
		border-style:solid;
		border-color: rgb(43,43,43);
}


.page-title{
    margin-left:20px;
    margin-top:35px;
    font-family: 'Cascadia Code', sans-serif;
    font-size:12px;
    font-weight:bold;
    color:rgb(204,204,204);
  }